/*
 * Variables and basic attrs
 */

:root {
    --left-margin: 44.75px;
    --right-margin: 44.75px;
    --overflow: 6px;
}

body {
    font-family: var(--cfg-font, BlinkMacSystemFont);
    font-size: 14px;
    line-height: 22px;

    overflow: hidden;
    color: var(--cfg-foreground, white);
    user-select: none;

    opacity: 1;
    margin: 0;
}

/*
 * Background image
 */

#bgimage {
    min-width: var(--screen-width);
    min-height: var(--screen-height);

    background-image: url(file:///private/tmp/wallpaper.png);
    background-position: center;
    background-size: var(--screen-width);
}

#bgimage-bar {
    position: absolute;
    top: 0;

    z-index: 1;
    margin: 0 var(--overflow) 0 var(--overflow);

    /* Placeholder in case image isn't found */
    background: #333;

    /* transition: -webkit-mask-image 1s; */
}

/*
 * Actual bar
 */

/* Click-through window */
#top-bar * {
    pointer-events: none;
}

.bar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;

    z-index: 2;
    padding: 0 calc(var(--right-margin) + var(--overflow)) 0
        calc(var(--left-margin) + var(--overflow) - 35px);

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

    background: var(--cfg-background, transparent);
}

/*
 * Containers config
 */

.container {
    display: flex;
    flex-direction: row;
}

#left {
    flex: 1;
    justify-content: flex-start;
}

#middle {
    flex: 1;
    justify-content: center;
}

#right {
    margin-right: -25px;

    flex: 1;
    justify-content: flex-end;
}

/*
 * Widgetbar
 */

.widgetBarItem {
    padding-left: 9.25px;
    padding-right: 9.25px;
    transition: opacity 0.5s;
}

.widgetBarItem.itemActivated {
    opacity: 0;
}
